<h2>Редагувати тип пам'ятки</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_site_type_path(@conn, :update, @user, @site_type) %>

<%= link "Назад", to: user_site_type_path(@conn, :index, @user) %>
