<h2>Тип пам'ятки</h2>

<ul>

  <li>
    <strong>Тип пам'ятки:</strong>
    <%= @site_type.name %>
  </li>

</ul>

<%= link "Редагувати", to: user_site_type_path(@conn, :edit, @user, @site_type) %>
<%= link "Назад", to: user_site_type_path(@conn, :index, @user) %>
