<h2>Edit culture</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_culture_path(@conn, :update, @user, @culture) %>

<%= link "Back", to: user_culture_path(@conn, :index, @user) %>
