<h2>Нова археологічна культура</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_culture_path(@conn, :create, @user) %>

<%= link "Назад", to: user_culture_path(@conn, :index, @user) %>
