<h2>Користувач</h2>

<ul>

  <li>
    <strong>Користувач:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Підпис пароля:</strong>
    <%= @user.password_digest %>
  </li>

</ul>

<%= link "Редагувати", to: user_path(@conn, :edit, @user) %>
<%= link "Назад", to: user_path(@conn, :index) %>
