<div class="container-fluid">
  <div class="row alerts">
    <%= if flash = get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <%= flash %>
      </div>
    <% end %>

    <%= if flash = get_flash(@conn, :error) do %>
      <div class="alert alert-danger" role="alert">
        <%= flash %>
      </div>
    <% end %>
  </div>
</div>
