<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", conn: @conn %>

  <body>
    <%= render "navigation.html", conn: @conn %>

    <!-- <section class="main-content row expanded">
      <%= render "alerts.html", conn: @conn %>

      <div class="row content"> -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <%= render "alerts.html", conn: @conn %>
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
      <!-- </div>
    </section> -->

    <%= render "script.html", conn: @conn %>
  </body>
</html>
