<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", conn: @conn %>

  <body>
    <%= render "navigation.html", conn: @conn %>
    <%= render "alerts.html", conn: @conn %>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Археологічні пам'ятки України</h1>
            <p>В цьогочасному суспільстві великий інтерес виникає до історії держави та людей що населяли її.
            Цей проєкт має на меті збереження інформації щодо археологічних пам'яток на території України,
            узагальнення та систематизацію наявних артефактів та представлення інформації суспільству.
            </p>
            <%= if current_user = @conn.assigns[:current_user] do %>
              <p><%= link "Почати ", to: user_find_path(@conn, :index, current_user.id), class: "btn btn-success" %></p>
            <% else %>
              <p><%= link "Почати", to: user_find_path(@conn, :index, -1), class: "btn btn-success" %></p>
            <% end %>
            </p>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <h2>Каталог</h2>
          <p>Каталог пам'яток у вигляд таблиці з можливістю сортування та
          пошуку за окремими параметрами</p>
          <%= if current_user = @conn.assigns[:current_user] do %>
            <p><%= link "Далі", to: user_find_path(@conn, :index, current_user.id), class: "btn btn-success" %></p>
          <% else %>
            <p><%= link "Далі", to: user_find_path(@conn, :index, -1), class: "btn btn-success" %></p>
          <% end %>
        </div>
        <div class="col-xs-4">
          <h2>Карта</h2>
          <p>Представлення інформації щодо пам'яток у вигляді карти з нанесенням їх місцеположення та
          кластеризацією
          <%= if current_user = @conn.assigns[:current_user] do %>
            <p><%= link "Далі", to: user_find_path(@conn, :index, current_user.id), class: "btn btn-success" %></p>
          <% else %>
            <p><%= link "Далі", to: user_find_path(@conn, :index, -1), class: "btn btn-success" %></p>
          <% end %>
        </div>
        <div class="col-xs-4">
          <h2>API</h2>
          <p>Дозволяє стороннім розробникам отримувати відкриту інформацію з системи за
            допомогою JSON API. Що дозволяє використовувати археологічні данні у власних проєктах</p>
          <%= if current_user = @conn.assigns[:current_user] do %>
            <p><%= link "Далі ", to: user_find_path(@conn, :index, current_user.id), class: "btn btn-success" %></p>
          <% else %>
            <p><%= link "Далі", to: user_find_path(@conn, :index, -1), class: "btn btn-success" %></p>
          <% end %>
        </div>
      </div>
      <hr>
       <div class="row">
           <div class="col-xs-12">
               <footer>
                   <p>&copy; Copyright 2017 Eugene Chechkov</p>
               </footer>
           </div>
       </div>
    </div>
    <%= render "script.html", conn: @conn %>
  </body>
</html>
