<h2>Редагувати пам'ятку</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_find_path(@conn, :update, @user, @find) %>

<%= link "Назад", to: user_find_path(@conn, :index, @user) %>
