<h2>Редагувати автора</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_author_path(@conn, :update, @user, @author) %>

<%= link "Назад", to: user_author_path(@conn, :index, @user) %>
