<h2>Автор</h2>

<ul>

  <li>
    <strong>Автор:</strong>
    <%= @author.name %>
  </li>

</ul>

<%= link "Редагувати", to: user_author_path(@conn, :edit, @user, @author) %>
<%= link "Назад", to: user_author_path(@conn, :index, @user) %>
