<h2>Редагувати типи об'єктів</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_object_type_path(@conn, :update, @user,
                          @object_type) %>

<%= link "Назад", to: user_object_type_path(@conn, :index, @user) %>
