<h2>Новий тип об'єктів</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_object_type_path(@conn, :create, @user) %>

<%= link "Назад", to: user_object_type_path(@conn, :index, @user) %>
