<h2>Тип об'єктів</h2>

<ul>

  <li>
    <strong>Тип об'єктів:</strong>
    <%= @object_type.name %>
  </li>

</ul>

<%= link "Редагувати", to: user_object_type_path(@conn, :edit, @user, @object_type) %>
<%= link "Назад", to: user_object_type_path(@conn, :index, @user) %>
