<h2>Редагувати рівень дослідженості</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_research_level_path(@conn, :update, @user,
                        @research_level) %>

<%= link "Назад", to: user_research_level_path(@conn, :index, @user) %>
