<h2>New research level</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_research_level_path(@conn, :create, @user) %>

<%= link "Back", to: user_research_level_path(@conn, :index, @user) %>
