<h2>Рівень дослідженості</h2>

<ul>

  <li>
    <strong>Рівень дослідженості:</strong>
    <%= @research_level.name %>
  </li>

</ul>

<%= link "Редагувати", to: user_research_level_path(@conn, :edit, @user,
  @research_level) %>
<%= link "Назад", to: user_research_level_path(@conn, :index, @user) %>
