<h2>Edit publication</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_publication_path(@conn, :update, @user, @publication) %>

<%= link "Назад", to: user_publication_path(@conn, :index, @user) %>
