<h2>Нова публікація</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_publication_path(@conn, :create, @user) %>

<%= link "Назад", to: user_publication_path(@conn, :index, @user) %>
