<h2>New publication</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_publication_path(@conn, :create, @user) %>

<%= link "Back", to: user_publication_path(@conn, :index, @user) %>
