<h2>Публікація</h2>

<ul>

  <li>
    <strong>Публікація:</strong>
    <%= @publication.name %>
  </li>

</ul>

<%= link "Редагувати", to: user_publication_path(@conn, :edit, @user, @publication) %>
<%= link "Назад", to: user_publication_path(@conn, :index, @user) %>
