<h2>Редагувати вид природничих досліджень</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_natural_research_path(@conn, :update, @user,
                        @natural_research) %>

<%= link "Назад", to: user_natural_research_path(@conn, :index, @user) %>
