<h2>Редагувати стан пам'яток</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_condition_path(@conn, :update, @user, @condition) %>

<%= link "Назад", to: user_condition_path(@conn, :index, @user) %>
