<h2>Новий стан знахідок</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_condition_path(@conn, :create, @user) %>

<%= link "Назад", to: user_condition_path(@conn, :index, @user) %>
