<h2>Стан пам'яток/h2>

<ul>

  <li>
    <strong>Стан:</strong>
    <%= @condition.name %>
  </li>

</ul>

<%= link "Редагувати", to: user_condition_path(@conn, :edit, @user, @condition) %>
<%= link "Назад", to: user_condition_path(@conn, :index, @user) %>
